@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  background-image: url("/pizza-shop.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.shop{
 position:relative;
 height:100vh;
}

.register-area{

 position:absolute;

 bottom:200px;
 left:40%;

 width:250px;
 height:150px;

 cursor:pointer;
}